<!DOCTYPE html>

    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <script src="/js/jquery.js"></script>
<!--         <script src="/js/screenshot.js"></script>  --><!-- Takes screenshot after pause, works but turned off -->
    </head>

    <body style="background: #000;margin: 0;background-repeat: no-repeat;background-attachment: fixed;overflow:hidden;height:100%;width:100%;">
        <canvas id="canvas"></canvas>

        <!-- CAN INCLUDE "RESIZE" INSIDE OPENING BRACKET BELOW AND PAGE WILL AUTOMATICALLY RESIZE WITH DRAWING -->
        <img src="/img/bg-black.png" id="background"/>


        <div class="col-md-12">
            <a href="#" class="btn btn-danger" style="width:200px;visibility:hidden;">Volume :<span id="volume"></span></a>
            <canvas id="meter" width="500" height="50" style="margin-top:25px;visibility:hidden;"></canvas>
        </div>

        <script>

        $(document).ready(function() {
            var d_canvas = document.getElementById('canvas');
            var context = d_canvas.getContext('2d');
            var background = document.getElementById('background');
            context.drawImage(background, 0,0, canvas.width, canvas.height);
        });
        
        </script>

        <script src="/js/volume-meter.js"></script><!-- Volumne detection -->
        <script src="/js/main.js"></script><!-- Volumne detection -->
        <script src="/js/correlation_worker.js"></script><!-- Canvas drawing -->
        <script src="/js/mmoca-2016.js"></script><!-- Canvas drawing -->
       
    </body>

</html> 